<ion-content class="ion-padding">
  <ion-card style="margin-top: 6rem;">

    <div class="card-header" *ngIf="currentUser">
      <ion-button fill="clear" color="primary" (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <span class="card-title">Update Profile</span>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      
      <ion-row>
        <ion-col size="6">
          <app-input
            label="Name"
            type="text"
            formControlName="name"
            placeholder="Name">
          </app-input>
        </ion-col>
        <ion-col size="6">
          <app-input
            label="Last Name"
            type="text"
            formControlName="lastName"
            placeholder="Last Name">
          </app-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <app-select
            [label]="'Country'"
            [options]="countries"
            [displayKey]="'nameCode'"
            formControlName="country">
          </app-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <app-input
            label="Email"
            type="email"
            formControlName="email"
            placeholder="email@email.com">
          </app-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <app-input
            label="Password"
            type="password"
            formControlName="password"
            placeholder="********">
          </app-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <app-input
            label="Confirm Password"
            type="password"
            formControlName="confirmPassword"
            placeholder="********">
          </app-input>
        </ion-col>
      </ion-row>

      <div class="ion-text-center" style="margin-top: 1rem;" *ngIf="!currentUser">
        <app-link 
          text="¿Already have an account? Login"
          route="/login"
          align="center">
        </app-link>
      </div>

      <ion-row>
        <ion-col size="12">
          <app-button
            [text]="buttonText"
            type="submit"
            expand="block"
            icon="save-outline"
            [form]="profileForm"
            [loading]="isSubmitting">
          </app-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-card>
</ion-content>
