<ion-content class="ion-padding ion-margin" >

  <ion-card class="ion-text-center ion-margin" style="margin-top: 6rem;">
    <img src="assets/icon/news.png" alt="logo" />
  </ion-card>

  <ion-card class="custom-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input
        label="Email"
        type="email"
        formControlName="email"
        placeholder="email@email.com">
      </app-input>

      <app-input
        label="Password"
        type="password"
        formControlName="password"
        placeholder="********">
      </app-input>

      <div class="ion-text-center" style="margin-top: 1rem;">
        <app-link 
          text="¿Don't have an account? Register"
          route="/profile/register"
          align="center">
        </app-link>
      </div>

      <app-button 
        text="Login"
        type="submit"
        expand="block"
        icon="save-outline"
        [loading]="isSubmitting"
        [disabled]="loginForm.invalid">
      </app-button>
    </form>
  </ion-card>

</ion-content>