.custom-input-item {
  --background: #f0f0f0df;             /* Fondo gris claro */
  --padding-start: 1rem;               
  --padding-end: 1rem;
  margin: 0.5rem 0;                     /* Separación entre inputs */
  border-radius: 8px;                   /* Esquinas redondeadas */
  border: 1px solid #b0b0b0;           /* Borde completo más opaco que el fondo */
}

.custom-input {
  border-radius: 8px;                   /* Esquinas redondeadas */
  background-color: #f0f0f0df;          /* Fondo gris */
  padding: 0.8rem 1rem;
  height: 3rem;
  font-size: 1rem;         /* Borde completo */
}

ion-input-password-toggle {
  margin: 0;
  height: auto;
  line-height: normal;
}
